.cat {
	width: 12rem;
	height: 20rem;

	margin: 1em;

	display: grid;
	grid-template-areas: "image" "info";
	grid-template-rows: 12rem 1fr;
	grid-template-columns: 1fr;
}

.cat img {
grid-area: image;

	width: 12rem;
	height: 12rem;

	background: no-repeat center url("/images/404-doge.png");
	background-size: contain;

	display: flex;
	justify-content: center;

	/* https://stackoverflow.com/questions/36305805/how-to-hide-alt-text-using-css-when-the-image-is-not-present */
  	font-size: 0;
}

.cat .info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.cat .info h2.name {
	margin: 0.5em 0;
}