.selector {
	min-width: 6em;

	border: none;
	padding: 0.5em 1em;

	background-color: var(--secondary-background-color);
	color: var(--primary-color);
}

.selector:not(.selected):hover {
	background-color: var(--background-color);
	filter: invert(1);
}

.selector.selected {
	background-color: lightgreen;
	color: black;
}

.selector:first-of-type {
	margin-left: 1em;
}

@media only screen and (min-width: 600px) {
	.selector:first-of-type {
		border-radius: 0.4em 0 0 0.4em;
	}
	.selector:last-of-type {
		border-radius:  0 0.4em 0.4em 0 ;
	}
}