* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #f0f0f0;
	--secondary-background-color: #e0e0e0;
	--primary-color: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #161616;
		--secondary-background-color: #2f2f2f;
		--primary-color: #ffffff;
	}
}

body {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.error, .loading {
	width: 100%;
	margin: 4em 0;
	text-align: center;
	font-size: 1.25em;
}

.error {
	color: red;
}


/* Fonts */
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.ttf');
	font-weight: bolder;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-SemiBold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.ttf');
	font-weight: normal;
}